<h1>My ARTICLES Website</h1>
<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <a mat-tab-link routerLink="/categories" routerLinkActive="active" ariaCurrentWhenActive="page">Categories</a>
    <!--<a mat-tab-link routerLink="/articles" routerLinkActive="active" ariaCurrentWhenActive="page">Articles</a>-->
    <a mat-tab-link routerLink="/favorites" routerLinkActive="active" ariaCurrentWhenActive="page">Favorites</a>
</nav>